.playBtn {
  margin-left: 2em;
}
.stopBtn {
  margin-left: 2em;
}
.sequencerContainer {
  margin: 2em;
}
.stepContainer {
  display: flex;
}
.step {
  cursor: pointer;
  width: 3em;
  height: 3em;
  border-radius: 10px;
  border: solid rgb(100, 0, 255) 2px;
  background-color: rgba(100, 100, 200, .6)
}
.active {
  background-color: rgb(100, 200, 255)
}
